/* reset */
    *,
    *:before,
    *:after {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html { height: 100%; -webkit-text-size-adjust: 100%; }

    body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, input { margin: 0; padding: 0;}
    input, select, textarea { outline: none; }
    textarea { resize: none; font-family: "microsoft yahei";}
    ul, ol { list-style: none;}
    i, em { font-style: normal;}
    a { text-decoration: none;color: #459ae9;cursor: pointer;}
    a:active, a:visited, a:focus {outline: none;}
    // a:hover { text-decoration: underline;}
    img { border: none;display:block;}
    table { border-spacing: 0; table-layout: fixed;}

    body { height: 100%; position: relative; font: 14px/1.5 "PingFangSC-Regular", "microsoft yahei", BlinkMacSystemFont,  "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; word-wrap: break-word;}

    input::-ms-clear{display: none;}
    input::-ms-reveal{display: none;}

    @font-face {
        font-family: 'PingFangSC-Regular';
        src: url('../font/PingFang.ttf') format('truetype');
    }
